* {
  font-family: inherit;

  margin: 0;

  outline: 0;

  padding: 0;

  position: relative;

  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  font-family: 'Josefin Sans';
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.custom-button {
  height: 60px;
  padding: 0px 20px;
  font-size: 2rem;
  min-width: 250px;
  background-color: #005da9;
  color: #fecb03;
  border: 0;
}

.custom-button:hover {
  box-shadow: 0 0 0 5px #fecb03;
  background-color: #054477;
}
